@import "bootstrap-overrides.less";

body {
    background: #FEFEFE;
}
.right {
    float: right;
}
.left {
    float: left;
}
.clear {
    clear: both;
}
.full-width {
    width: 100%;
    float: left;
    text-align: left;
}

.lblMessage {
    font-size:20px;
    margin:20px;
}

/* Timer */
.time-label {
    font-size: 50px !important;
    padding: 20px 0;
    border: none;
    background: none;
    text-align: center;
    width: 100%;
}
.btn.large {
    font-size: 30px;
    padding: 50px 10px;
    margin: 3px 0 0 0;
    float: left;
    &.large-half {
        width: 47.5%;
    }
    &.large-full {
        margin: 10px 0 0 0;
        width: 100%;
    }
}