@import "bootstrap-overrides.less";

body {
}
.right {
    float: right;
}
.left {
    float: left;
}
.clear {
    clear: both;
}
.full-width {
    width: 100%;
    float: left;
    text-align: left;
}